[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypitunatsinghuaedu"

[packages]
faker = "*"
requests = "*"
flask = "*"
wtforms = "*"
bs4 = "*"
lxml = "*"
aiohttp = "*"
aiofiles = "*"
pycryptodome = "*"
selenium = "*"
pymysql = "*"
pymongo = "*"
redis = "*"
sanic = "*"
sanic-cors = "*"
scrapy = {version = "*", index = "pypitunatsinghuaedu"}
twisted = "*"
cryptography = "==36.0.2"
pillow = "*"
django = "*"
scrapy-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
