{% extends "base.html" %}

{% block css %}
    .active {
        color: red;
    }

    .bookbg {
        background: red;
    }
{% endblock %}

{% block content %}
    {{ block.super }}
    <table class="table table-hover table-bordered">
        <tr>
            <th>序号</th>
            <th>ID</th>
            <th>书籍名称</th>
            <th>价格</th>
        </tr>
        {% for book in book_list %}
            {% if book.price > 300 %}
                <tr class="bookbg">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ book.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.price }}</td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ book.id }}</td>
                    <td>{{ book.name }}</td>
                    <td>{{ book.price }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}

{% block title %}
    <title>首页</title>
{% endblock %}

