<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jquery.min.js"></script>
    <script>

        $(function(){
            $("#btn").click(function(){
                $.ajax({
                    "url": "/hehe",
                    "method": "post",
                    data: {
                      "xxm": "没啥区别"
                    },
                    dataType: "jsonp",  // 加上这个东西，此时该请求就是一个jsonp
                    // 在抓包的时候能看到url中加上了callback=jQuery191017953701767789654_1661036082987
                    // 当响应回来之后，jsonp不会自动执行success，会执行callback对应的函数
                    success: function(data){
                        console.log(data);
                    }
                })
            })
        })
    </script>
</head>
<body>
    <h1>我是一个完美的页面</h1>
    <span>{{name}}</span>
    <span>{{age}}</span>
    <input type="button" value="点我试试" id="btn">
</body>
</html>